# Required
TENANT_ID=<your-tenant-id>

# Foundry agent endpoints, retrieve these 2 endpoints from Foundry after agent has been published
FOUNDRY_RESPONSES_URL=https://<your project resource>.services.ai.azure.com/api/projects/<project name>/agents/<data agent name>/endpoint/protocols/openai/v1/responses
FOUNDRY_ACTIVITY_URL=https://<your project resource>.services.ai.azure.com/api/projects/<project name>/agents/<data agent name>/endpoint/protocols/activityprotocol

# Optional: direct Fabric data agent URL if you want to call it directly
FABRIC_DATA_AGENT_URL=